<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <!-- Fonts -->
    <link href="../assets/fonts/stylesheet.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Styles -->
    <link href="../assets/css/signup.css" rel="stylesheet" />
    <!-- Bootstrap JS -->
    <script src="../assets/js/bootstrap.min.js"></script>
  </head>
  <body>
    <form>
      <div class="form">
        <div class="form-row functionChoice">
          <div class="col choose">
            <a href="#" class="function login active">Sign in</a>
            <a href="./signup.html" class="function signup">Sign up</a>
          </div>
        </div>
        <h1 style="margin-bottom: 1rem">Log In</h1>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            required
          />
        </div>
        <div class="form-group" style="position: relative">
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            required
          />
          <img src="../assets/icon/view.png" id="pwd" />
        </div>
        <div class="form-check" style="margin-bottom: 0.5rem">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label
            class="form-check-label"
            for="exampleCheck1"
            style="font-size: 0.8rem"
            >Keep me logged in</label
          >
        </div>
        <button type="submit" class="btn btn-primary" style="width: 70%">
          Log In
        </button>
        <div class="form-group divider">
          <hr />
          <span> Or Log In with </span>
          <hr />
        </div>
        <div class="form-row methodLog">
          <div class="col method">
            <button class="socialAcc" id="gg">
              <img
                src="../assets/icon/google_login.png"
                alt=""
                style="width: 20px; height: fit-content"
              />
              Google
            </button>
            <button class="socialAcc" id="fb">
              <img
                src="../assets/icon/facebook_login.png"
                alt=""
                style="width: 20px; height: fit-content"
              />
              Facebook
            </button>
          </div>
        </div>

        <div class="form-group">
          <p>Don't have an account? <a href="./signup.html">Sign up</a></p>
        </div>
      </div>
    </form>

    <script src="../assets/events/signup.js"></script>
  </body>
</html>
